<a href="https://colab.research.google.com/github/SweathaPappachan/FMML/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("I love python")
print("Its fun and easy")

I love python
Its fun and easy

Variable

In [8]:
name='Sweatha'
print("Hello "+name)
print(type(name))

Hello Sweatha
<class 'str'>

In [13]:
first_name='Sweatha'
last_name='Pappachan'
full_name=first_name +" "+ last_name
print("Hello "+ full_name)
print(type(name))

Hello Sweatha Pappachan
<class 'str'>

In [15]:
age = 23
age =age + 1
print(age)

24

In [18]:
age = 23
age += 1
print(age)
print(type(age))

24
<class 'int'>

In [20]:
age = "23"
age += 1
#print(age)
print(type(age))

TypeError: ignored

In [27]:
age = 23
age += 1
print("My age is:" +" "+str(age))
print(type(age))

My age is: 24
<class 'int'>

float data type = a decimal number

In [28]:
height = 153.7
print(height)
print(type(height))

153.7
<class 'float'>

In [30]:
height = 153.7
print("My height is:" +" "+str(height)+ "cm")
print(type(height))

My height is: 153.7cm
<class 'float'>

Boolean = True or False

In [31]:
human = False
print(human)
print(type(human))

False
<class 'bool'>

In [33]:
human = False
print("Are you a human:"+" " +str(human))
print(type(human))

are you a human False
<class 'bool'>

Multiple Assignment

In [34]:
name = "Sweatha"
age = 23
attractive = True
print(name)
print(age)
print(attractive)

Sweatha
23
True